.page-footer{
    background-color:rgb(240, 97, 89);
    font-family: 'Raleway', sans-serif;
    justify-content: center;
}
.tim{
    color:rgb(3,48,65);
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
}
p{
    margin: 5px;
}