.surround{
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background:rgb(3, 48, 65);
}

.rightBox{
    width: 50%;
    padding: 50px;
    background:rgb(3, 48, 65);
}

.leftBox{
    width: 50%;
    padding: 50px;
    background:rgb(240,182,127);
}
.content{
    color:#fff;
    background: rgba(3, 48, 65,.9);
    padding: 40px;
    transition: 0.5s;
    text-align: justify;
}
.content:hover{
    background: rgb(240, 97, 89);
}
.content h1{
    margin: 0;
    padding: 0;
    font-size: 50px;
    text-transform: uppercase;
}

.content p{
    margin: 10px 0 0;
    padding: 0;
}



@media(max-width: 900px){
    .surround{
        flex-direction: column;
        background:rgb(240,182,127);
    }
    .content h1{
        font-size: 30px;
        text-align: center;
    }
    .leftBox{
        padding: 30px 0;
        width: 80%;
    }
    .rightBox{
        padding: 0;
        width: 80%;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .content{
        margin: 0;
        padding: 30px;
        width: 100%;
    }
}