
section{
    font-family: 'Raleway', sans-serif;
    margin:0;
    padding:0;
    width: 100%;
    height: 60vh;
    background-color:rgb(240,182,127);
    display: flex;
    flex-direction: row;
    justify-items: center;
    /* overflow-x: hidden; */
}

.rightBox{
    width: 50%;
    padding: 50px;
    background:rgb(3, 48, 65);
}

.leftBox{
    width: 50%;
    padding: 50px;
}
.content{
    color:#fff;
    background: rgba(3, 48, 65,.9);
    padding: 40px;
    transition: 0.5s;
    text-align: justify;
}
.content:hover{
    background: rgb(240, 97, 89);
}
.content h1{
    margin: 0;
    padding: 0;
    font-size: 50px;
    text-transform: uppercase;
}

.content p{
    margin: 10px 0 0;
    padding: 0;
}



@media(max-width: 900px){
    section{
        flex-direction: column;
    }
    .leftBox, .rightBox{
        width: 80%;
    }
}