.surround{
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    background-color: rgb(3, 48, 65);
    -webkit-box-shadow: inset 0px 3px 12px -3px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 3px 12px -3px rgba(0,0,0,0.75);
box-shadow: inset 0px 3px 12px -3px rgba(0,0,0,0.75);
}

form{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    width: 50%;
    justify-content: center;
    -webkit-box-shadow:  0px 3px 12px -3px rgba(0,0,0,0.75);
-moz-box-shadow:  0px 3px 12px -3px rgba(0,0,0,0.75);
box-shadow:  0px 3px 12px -3px rgba(0,0,0,0.75);
margin-bottom: 40px;
}

.form-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.upit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    font-size: larger;
}

.first{
    padding-top: 30px;
}

input{
    margin: 20px 0 10px;
    height: 7vh;
    color: rgb(3, 48, 65);
    display: block;
    text-align: center;
    background-color: #022F40;
    border: none;
    border-bottom: 2px solid rgb(240,97,89);
    font-size: 1.3em;
    color: white;
}

textarea{
    height: 20vh;
    color: rgb(3, 48, 65);
    display: block;
    text-align: center;
    background-color: #022F40;
    border: none;
    border: 2px solid rgb(240,97,89);
    font-size: 1.3em;
    color: white;
}
.textarea{
    margin-top: 60px;
}

button{
    margin: 50px auto;
    width: 15%;
    font-weight: 800;
    text-transform: uppercase;
    background-color: rgb(240, 97, 89);
    border: 1px solid rgb(240, 97, 89);
    color:rgb(3, 48, 65);
    transition: all .3s ease-in-out;
}
button:hover{
    background-color: rgb(3, 48, 65);
    border: 1px solid rgb(240, 97, 89)!important;
    color: rgb(240, 97, 89);
}

@media(max-width:970px){
    .form-group{
        width: 100%;
    }
   .upit{
       width: 70%;
   }
   form{
       width: 100%;
   }
}

@media(max-width:670px){
   button{
       width: 70%;
   }
}
