<app-contact-jumbotron></app-contact-jumbotron>
<div class="surround">
    <form>
      <div class="form-group first">
        <div class="upit">
          <input type="text" placeholder="Vaše ime" required>
        </div>
        <div class="upit">
          <input type="text" placeholder="Vaše prezime" required>
        </div>
        <div class="upit">
          <input type="text" placeholder="primer@gmail.com" required>
        </div>
      </div>
      <div class="form-group textarea">
        <div class="upit">
          <textarea placeholder="Vaše pitanje"></textarea>
        </div>
      </div>
        <button class="btn btn-primary" type="submit">POŠALJI</button>
    </form>
</div>