nav{
    background-color: rgb(3, 48, 65);
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    position: fixed-top;
}


.nav-item a{
    color:rgb(212, 211, 209);
    font-weight: 500;
    transition: all .3s ease-in-out;
}

.nav-item a:hover{
    color: rgb(233, 233, 233);
}

nav button{
    font-weight: 700;
    text-transform: uppercase;
}

.btn-first{
    background-color: rgb(240, 97, 89);
    border: 1px solid rgb(240, 97, 89);
    color:rgb(3, 48, 65);
    transition: all .3s ease-in-out;
}

.btn-first:hover{
    background-color: rgb(3, 48, 65);
    color: rgb(240, 97, 89);
}

.btn-second{
    background-color: rgb(3, 48, 65);
    color: rgb(240, 97, 89);
    border: 1px solid rgb(240, 97, 89);
    transition: all .3s ease-in-out;

}

.btn-second:hover ~ .btn-first{
    background-color: rgb(3, 48, 65);
    color: rgb(240, 97, 89);
}

.btn-second:hover{
    background-color: rgb(240, 97, 89);
    color:rgb(0, 47, 65);
}