nav{
    background-color: rgb(3, 48, 65);
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    position: fixed-top;
    -webkit-box-shadow: 0px 6px 3px -3px rgba(0,0,0,0.29);
-moz-box-shadow: 0px 6px 3px -3px rgba(0,0,0,0.29);
box-shadow: 0px 6px 3px -3px rgba(0,0,0,0.29);
}


.nav-item a{
    color:rgb(212, 211, 209);
    font-weight: 500;
    transition: all .3s ease-in-out;
}

.nav-item a:hover{
    color: rgb(233, 233, 233);
}

nav button{
    font-weight: 700;
    text-transform: uppercase;
}

.dropdown-item{
    color: rgb(3, 48, 65)!important;
}

.btn-first{
    background-color: rgb(240, 97, 89);
    border: 1px solid rgb(240, 97, 89);
    color:rgb(3, 48, 65);
    transition: all .3s ease-in-out;
}

.btn-first:hover{
    background-color: rgb(3, 48, 65);
    color: rgb(240, 97, 89);
}

.btn-second{
    background-color: rgb(3, 48, 65);
    color: rgb(240, 97, 89);
    border: 1px solid rgb(240, 97, 89);
    transition: all .3s ease-in-out;
}

.btn-second:hover ~ .btn-first{
    background-color: rgb(3, 48, 65);
    color: rgb(240, 97, 89);
}

.btn-second:hover{
    background-color: rgb(240, 97, 89);
    color:rgb(0, 47, 65);
}

.dropdown-toggle,
.dropdown-item{
    cursor: pointer;
}

.dropdown-menu{
    left: -6px!important;
    color: rgb(0, 47, 65);
}

.dropdown-item:active{
    background-color:rgb(78, 205, 196);
    color: white;
}

.span-toggler{
    width: 100%;
    color: rgb(240, 97, 89);
    height: 100%;
    font-size: 1.2em;
}

.collapse form{
    display: flex;
    justify-content: center;
}

.collapse .dropdown-menu.show{
    background-color: rgb(3, 48, 65);
    color: rgb(240, 97, 89)!important;
}

.collapse a.dropdown-item{
    color:rgb(240, 97, 89)!important;
}