<nav class="navbar navbar-expand-md fixed-top">
  <a class="navbar-brand" href="#"><img src="../../assets/images/second.png" alt="HTML5 Icon"></a>
  <!-- <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="collapse navbar-collapse collapsed" id="navbarsExampleDefault" [collapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link" [routerLink]="['/home']">Početna</a>
      </li>
      <li class="nav-item dropdown" routerLinkActive="active"  dropdown>
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" 
        aria-haspopup="true" aria-expanded="false" dropdownToggle [routerLink]="['/events']">Događaji</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01" *dropdownMenu>
          <a class="dropdown-item" href="#">Zabava</a>
          <a class="dropdown-item" href="#">Festivali</a>
          <a class="dropdown-item" href="#">Kultura</a>
          <a class="dropdown-item" href="#">Porodica</a>
          <a class="dropdown-item" href="#">Sport</a>
        </div>
      </li>
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link" [routerLink]="['/about']" >O nama</a>
      </li>
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link" [routerLink]="['/contact']">Kontakt</a>
      </li>
    </ul>
    <form #loginForm="ngForm" class="form-inline my-2 my-lg-0">
      <button class="btn my-2 my-sm-0 btn-first mr-2" type="submit" (click)="openModalWithComponent()">Register</button>
      <button class="btn my-2 my-sm-0 btn-second" type="submit">Login</button>
    </form>
  </div>
</nav>
<app-register-modal></app-register-modal>