.jumbotron{
    min-height: 100vh;
    background:  radial-gradient(transparent, rgba(0, 0, 0, .4)),
                #fff url("../../../assets/images/jumbotron.jpg") no-repeat center 50%/cover;       
    display: flex;
    align-items: center;
    margin-bottom: 0!important;
}

.okvir{
    margin: 0 auto;
    width: 80%;
    height: 60vh;
    border: 10px solid rgba(3, 48, 65,.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sredina{
    width: 95%;
    height: 90%;
    font-family: 'Parisienne', cursive;
    background: rgba(3, 48, 65,.6);
    color: rgb(233, 233, 233);    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-weight: 700;
    font-size: 100px;
    width: 80%;
    text-align: center;
    color: rgb(233, 233, 233); 
}

@media(max-width:900px){
    .okvir{
        width: 80%;
        height: 50vh;
    }
   h1{
        font-size: 80px;
    }
}

@media(max-width:770px){
    .okvir{
        width: 90%;
    }
   h1{
        font-weight: 600;
        font-size: 50px;
    }
}