<app-favourites-jumbotron></app-favourites-jumbotron>
<div class="pozadina">
  <div class="error" *ngIf="!hasEvents()">
      <h2 class="nazalost" >Trenutno nema dogadjaja koji ste oznacili kao omiljene...</h2>
      <img src="../../../assets/images/error.png" alt="error">
  </div>
  <div class="box" *ngIf="hasEvents()">
    <app-fav-event *ngFor="let dogadjaj of dogadjaji" [dogadjaj]="dogadjaj"></app-fav-event>
  </div>

  <div class="d-flex justify-content-center">
    <pagination [boundaryLinks]="true" 
                [totalItems]="pagination.totalItems"
                [itemsPerPage] = "pagination.itemsPerPage"
                [(ngModel)]="pagination.currentPage"
                (pageChanged) = "pageChanged($event)"
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    </pagination>
</div>

