.modal-content{
    border-bottom: none;
}

#username,
#password{
    width: 80%;
    margin: 0 auto;
    display: block;
    text-align: center;
    background-color: #022F40;
    border: none;
    border-bottom: 2px solid rgb(240,97,89);
    font-size: 1.3em;
    color: white;
    transition: all .4s ease-in-out;
}

#username:focus,
#password:focus{
    color: rgb(240,97,89);
    border-color: rgba(240,97,89, .6);
}

#username{
    margin-top: 30px;
}

.buttons{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto 30px;
}

.btn-element{
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgb(240, 97, 89);
    border: 1px solid rgb(240, 97, 89);
    color: rgb(3, 48, 65);
    transition: all .3s ease-in-out;
    flex: 1;
}

.btn-element:first-child{
    margin-right: 5px;
}

.btn-element:hover:enabled{
    background-color: rgb(3, 48, 65);
    color: rgb(240, 97, 89);
}

.modal-header{
    background-color: rgb(2, 47, 64);
    color:rgb(212, 211, 209);
    font-family: 'Raleway', sans-serif;
    border: none;
    border-radius: unset;
    
}

.btn-close{
    color:rgb(212, 211, 209);
    font-size: 2.2em;
}

.my-title{
    font-weight: 800!important;
    text-transform: uppercase!important;
}

.modal-body{
    background-color: rgb(2, 47, 64);
    color:rgb(212, 211, 209);
    font-family: 'Raleway', sans-serif;
    border-radius: unset;
    border-top: 1px solid rgb(240, 97, 89);
    border-bottom: 30px solid rgb(240, 97, 89);
}

.my-small{
    background-color: rgb(2, 47, 64);
    color:rgb(212, 211, 209);
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
    border-radius: unset;
    /* border-bottom: 1px solid rgb(240, 97, 89); */
}
.my-small a{
    color: rgb(240, 97, 89);    
    cursor: pointer;
}

input{
    transition: all .4s ease-in-out;
}

input:focus{
    color: rgb(240,97,89);
    border-color: rgba(240,97,89, .6);
}