@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/font-awesome/css/font-awesome.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Parisienne|Raleway&display=swap');
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';

html,body{
    min-height: 60vh;
    overflow-x: hidden;
}

html {
    --scrollbarBG: rgb(2, 47, 64);
    --thumbBG: rgb(238, 99, 82);
    /* --scrollbarBG: rgb(238, 99, 82);
    --thumbBG: rgb(2, 47, 64); */
  }

  body::-webkit-scrollbar {
    width: 20px;
  }

  body {
    scrollbar-shadow-color: rgb(238, 99, 82);
    -webkit-scrollbar-shadow-color: rgb(238, 99, 82);
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }

  body::-webkit-scrollbar-track {
    scrollbar-shadow-color: rgb(238, 99, 82);
    background: var(--scrollbarBG);
  }

  body::-webkit-scrollbar-thumb {
    /* background-color: -webkit-linear-gradient(0deg, rgba(255,28,0,1) 0%, rgba(238,167,80,1) 100%); */
    background: linear-gradient(to top, rgb(238, 99, 82) 0%, rgb(240, 182, 127)100%);
    background: -webkit-linear-gradient(to top, rgb(238, 99, 82) 0%, rgb(240, 182, 127) 100%);
    /* background:  -webkit-linear-gradient(top, rgba(255,28,0,1) 0%, rgba(238,167,80,1) 100%); */
    border-radius: 15px;
    /* background: rgb(238, 99, 82) url(assets/images/cactus.png) no-repeat center cover; */

    border: 1px solid var(--scrollbarBG);
  }

.modal-open{
    padding-right: 0!important;
}

*:focus,
textarea:focus,
input:focus,
.btn-kat:focus{
    outline: none;
}


#vremePocetka[_ngcontent-lyb-c142] table, 
.vreme-label[_ngcontent-lyb-c142] table,
#vremePocetka table,
#vremeZavrsetka table{
  margin: 0 auto!important;
}

.bs-timepicker-field{
  background-color: rgb(246, 216, 174)!important;
  border-color: rgb(240, 182, 127)!important;
}

/* -- Pagination -- */
.pagination{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1.2em;
}

.pagination .page-link{
  background: rgb(240, 182, 127);
  color: rgb(2, 47, 64);
  border: rgb(238, 99, 82) 1px solid;
  transition: all .4s ease-in-out;
}

.pagination .page-link:hover{
  background: rgb(238, 99, 82);
}

.pagination .active .page-link{
  background: rgb(238, 99, 82);
  font-weight: 700;
  color: rgb(240, 182, 127);
  border: rgb(238, 99, 82) 1px solid;
}

.pagination .disabled .page-link{
  background: rgb(240, 182, 127);
  color: rgb(2, 47, 64);
  border: rgb(238, 99, 82) 1px solid;
  transition: all .4s ease-in-out;
  opacity: 0.6;
}
/* Data table */
.mat-focus-indicator{
  background: rgb(3, 48, 65);
}

.mat-focus-indicator:hover{
  background: rgb(212, 211, 209);
} 

path{
  color: rgb(240, 97, 89);
}
.mat-paginator-outer-container{
  font-size: 0.8em!important;
}

.mat-select-value{
  text-align: center;
}

.mat-sort-header-button:hover{
  background: rgb(240, 97, 89)!important;
}

mat-option{
  margin: 0 auto;
  width: 5%;
  text-align: center!important;
  background: rgb(240, 97, 89);
  color: #fff;
  height: 3vh!important;
}

mat-option:hover{
  color: rgb(3, 48, 65);
}

.mat-paginator-page-size{
  display: none!important;
}

.mat-paginator-navigation-next{
  margin-left: 5px!important;
}

.mat-focus-indicator:hover{
  background: rgb(240,182,127);
}

@media(max-width: 500){
  .mat-paginator-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap!important;
    justify-content: center;
    align-items: center;
  }

  .mat-paginator-page-size, .mat-paginator-range-actions{
    width: 45%;
  }
}

@media(min-width:720px){
  app-fav-event,
  app-whole-event {
      width: 40%!important;
  }
}