<!-- <div class="card mb-3 surround">
  <div class="row no-gutters">
    <div class="col-md-5 slika">
      <img src="..." class="card-img" alt="...">
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title">Naslov dogadjaja</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
           This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Sava centar, Bulevar Zorana Djindjica 53</small></p>
        <button class="btn btn-primary" type="submit">20.04.2020.</button>
      </div>
    </div>
  </div>
</div> -->

<div class="card">
  <div class="slika">
  </div>
  <div class="detalji">
    <div class="up">
      <h5 class="naslov">{{dogadjaj.naziv}}</h5>
    </div>
    <div class="down">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><i class="fa fa-building"></i>{{dogadjaj.lokacija.naziv}}</li>
        <li class="list-group-item"><i class="fa fa-map-marker"></i>{{dogadjaj.lokacija.ulica}} {{dogadjaj.lokacija.brojUlice}}</li>
        <li class="list-group-item"><i class="fa fa-calendar"></i>{{getOnlyDate(dogadjaj.datumPocetka)}}</li>
      </ul>
      <button class="btn my-2 my-sm-0 btn-second" [routerLink]="['/events/', dogadjaj.dogadjajID]">Detaljnije</button>
    </div>
  </div>
</div>