<div class="weatherMain">
  <div class="left"
    [ngClass]="{leftDay: dobaDana === 'dan',
                leftNight: dobaDana === 'noc'}">{{WeatherData.temp}}° {{WeatherData.name}}
  </div>
  <div class="right">
    <div class="weatherWidgetRow">Minimalna temp: {{WeatherData.temp_min}}°</div>
    <div class="weatherWidgetRow">Maksimalna temp: {{WeatherData.temp_max}}°</div>
    <div class="weatherWidgetRow">Stvarni osećaj: {{WeatherData.temp_feels_like}}°</div>
    <div class="weatherWidgetRow">Vlažnost vazduha: {{WeatherData.main.humidity}}%</div>
  </div>
</div>