<!-- <div class="weatherMain">
  <div class="left"
    [ngClass]="{leftDay: dobaDana === 'dan',
                leftNight: dobaDana === 'noc'}">{{WeatherData.temp}}° {{WeatherData.name}}
  </div>
  <div class="right">
    <div class="weatherWidgetRow">Minimalna temp: {{WeatherData.temp_min}}°</div>
    <div class="weatherWidgetRow">Maksimalna temp: {{WeatherData.temp_max}}°</div>
    <div class="weatherWidgetRow">Stvarni osećaj: {{WeatherData.temp_feels_like}}°</div>
    <div class="weatherWidgetRow">Vlažnost vazduha: {{WeatherData.main.humidity}}%</div>
  </div>
</div> -->

<!-- ovo se zakomentarise, da bi radi API, a gore odkomenarise -->
<!-- takodje i u .ts seodkomentarise fetch metoda cela -->
<div class="weatherMain">
  <div class="left leftDay">10° Belgrade</div>
  <div class="right">
    <div class="weatherWidgetRow">Minimalna temp: 8°</div>
    <div class="weatherWidgetRow">Maksimalna temp: 12°</div>
    <div class="weatherWidgetRow">Stvarni osećaj: 5°</div>
    <div class="weatherWidgetRow">Vlažnost vazduha: 23%</div>
  </div>
</div>